body {
    background: hsl(266, 35%, 27%);
    margin: 0;
}

h1,
h2,
h3,
h4,
a,
p,
li {
    color: hsl(266, 55%, 88%);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal;
}